<% if notice %>
	<p class="alert alert-success"><i class="fa fa-check-circle"></i>&nbsp;&nbsp;<%= notice %></p>
<% end %>
<% if alert %>
	<p class="alert alert-danger"><i class="fa fa-exclamation-circle"></i>&nbsp;&nbsp;<%= alert %></p>
<% end %>